@{
    ViewData["Title"] = "Vehicle List";
}

<div class="row">
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>
    </div>
    <div class="col-8">
        <h3>Vehicle List</h3>
        <hr />
        <div class="row">
            <div class="col-4">
                <img src="~/img/bike.jpg" class="rounded mx-auto d-block" alt="...">
            </div>
            <div class="col-4">
                <img src="~/img/bike.jpg" class="rounded mx-auto d-block" alt="...">
            </div>
            <div class="col-4">
                <img src="~/img/bike.jpg" class="rounded mx-auto d-block" alt="...">
            </div>
        </div>
    </div>
</div>
